<div class="chat_page_header">
  <div class="lete_header">
    <div class="chat_title">夜の会
    </div>
  </div>
  <div class="right_header">
    <div class="chat_delete">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat_page_main">
  <div class="chats">
    <div class="chat_top">
      <div class="chat_user">青木
      </div>
      <div class="chat_day">2020年1月1日
      </div>
    </div>
    <div class="chat_bottom">おはよう
    </div>
  </div>
</div>
<div class="chat_page_footer">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>