<div class="side_bar_header">
  <div class="user_nane">
  <a href="#">Tom</a>
  </div>
  <div class="create_roon">
  <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_bar_chat">
  <div class="chat_contents">
    <div class="chat_content">
      <a href="#">朝の会</a>
    </div>
  </div>
  <div class="chat_contents">
    <div class="chat_content">
      <a href="#">昼の会</a>
    </div>
  </div>
</div>